/* body settings */
/*-------------------Global styles-------------------*/
html, body {
	height: 100%;
	margin:0;
}
body {
	background: rgb(152,152,152);
	overflow: hidden;
}
div {
	box-sizing: border-box;
}
p {
	margin: 0;
	color: rgb(255,255,255);
	/* font-family: 'Metrophobic', sans-serif; */
}
hr {
	width: 50%;
	margin: 20px auto;
	border: 1px solid rgb(200,200,200);
}


/* menu style */
body {
  overflow: hidden;
}

#menu {
	position: fixed;
	width: 114px;
	height: 100%;
	border-right: 1px solid black;
	background: linear-gradient(to right, rgb(35,35,35), rgb(50,50,50));
	background: -webkit-linear-gradient(to right, rgb(35,35,35), rgb(50,50,50));
	background: -moz-linear-gradient(to right, rgb(35,35,35), rgb(50,50,50));
	z-index: 10;
}

/* tools */
#main-tools{
  width: 100%;
	display: flex;
	flex-wrap:wrap;
}

#shape-buttons{
  width: 100%;
	padding-top: 10px;
	display: flex;
	flex-wrap:wrap;
}

.btn{
  background: rgb(200,200,200);
	margin: 2px;
	padding: 5px;
	border-radius: 20%;
	height: 33px;
	width: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#bt:hover{
  background: white;
	transition: all 0.2s;
 }

 .btn :active {
	background: white;
 }

 /*Filter tools styles*/
.filtersDropdown {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}


/*-------------------Canvas styles-------------------*/
canvas {
	position: absolute;
}
#canvasContainer {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}

#canvas-real, #canvas-draft {
  background-color: white;
}


/*Text settings styles*/
#textOptions {
	margin-bottom: 5px;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}
#textFont {
	font-size: 12px;
}
.textSizeContainer{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.showTextSize {
	margin-bottom: 10px;
	border-radius: 20%;
	background: rgb(204,204,204);
	font-size: 15px; /*Default*/
	font-family: "Arial";
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#textSize {
	width: 50px;
}
/*Brush Size styles*/
#sizeMenu {
	width: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#brushSize {
	width: 50px;
}
.showSize {
	margin-bottom: 10px;
	border-radius: 20%;
	background: rgb(255, 255, 255);
	font-size: 3px;
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sizeImage {
	border-radius: 50%;
	background: rgb(0,0,0);
	height: 5px; /*Default values*/
	width: 5px; /*Default values*/
}
/*Color Palette styles*/
#colorPalette {
	margin: 10px auto;
	padding: 5px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
#colorStroke,#colorFill {
	color: transparent !important;
	outline: none;
	border: 1px solid rgb(152,152,152);
	border-radius: 20%;
}
#colorStroke:active,#colorFill:active {
	border: 1px solid rgb(0,192,255);
}
.colorButton {
	width: 33px;
	height: 33px;
}

